<div class="Rubiscape--headder">

    <div class="Rubiscape-logo">
        <div class="logo">
            <img href="#" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAaVBMVEVHcExLVmROWGZLVmNFTlxMVWRMVmRMVWRKVGJLVmNLVmRMVWRNV2UiPDZNVmXakiDwoST3nyX1pCTunCPqmSM5lrA3kKo6lq9ewJRevZI4kapBhGtfwJJhxJY4kao5kao6lK1gwJNgv5Kk2x+6AAAAI3RSTlMAYH57NKb/jse456POCfcsVP8/vudDfWpjff8m//qrzsm3zyVBiGMAAACRSURBVHgBvdEDFoVQAEXRm20b859jdn2Gs9zuGSDI4ygaYNiX0XhtLPcZeWGXOCGNXdI7ZL5CWXmNKo1XKAqDHaECvEa8Q01vUl6g0WY+i5bdpL1AKE1/ndNxXddToPhBEPjb9wzbHERxUxK132miiV9hMqDCsUMHONnBtJE6I4E0y7I8glKUZVkooOUpCm+rAXYoEgr+HwmRAAAAAElFTkSuQmCC" alt="">
        </div>
        
        Rubiscape
    </div>
    

    <div class="rubiscape--header--nav">
           
        <a href="#">Why Rubiscape?</a> 
        <a href="#">Product</a>
        <a href="#">Solution</a>
        <a href="#">About Us</a>
        <a href="#">Search</a>
      
    
    </div>

    
</div>


