.Rubiscape--headder{
    display: flex;
    box-shadow: rgba(97, 101, 106, 0.2) 15px 8px 24px;
    background-color: #d4d4d6;
    padding: 5px 5px;
    border-radius: 3px;
    
    
}

.logo{
    width: 40px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.Rubiscape-logo{
    display: flex;
    flex-direction: row;
    padding: 5px 35px;
    text-decoration: solid;
    font-size: larger;
    font-weight:400;
    /* font-family: ; */
    font-size:200%;
  
}

.rubiscape--header--nav{
    padding: 30px 30px;
    width: 85%;
    text-align: right;
    font-size: large;
}

.rubiscape--header--nav a{
    margin: 5px 10px;
    text-decoration: none;
    color: #28282B;
}

